
<mat-toolbar color="primary">
  Angular Material
</mat-toolbar>


<main>

  <mat-card class="card-search">
    <form action="">

      <img
        width="150"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      /> 

      <mat-form-field class="input-style">
        <mat-label>Título</mat-label>
        <input matInput placeholder="Titulo de la foto" type="text" #title>
      </mat-form-field>

      <br>

      <mat-form-field class="input-style">

        <mat-label>Album Id</mat-label>

        <mat-select placeholder="Album Id">

          <mat-option *ngFor="let id of albumsId" [value]="id">
            Opción #{{ id }}
          </mat-option>
          
        </mat-select>

      </mat-form-field>
      
      <br>

      <mat-form-field class="input-style">
        <mat-label>Url</mat-label>
        <input matInput placeholder="Url de la Imagen" type="text" #url>
      </mat-form-field>

      <br>

      <button mat-flat-button color="primary" class="button-save">
        Guardar
      </button>

    </form>
  </mat-card>

  <app-photos></app-photos>

</main>